---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="/assets/css/styles.css">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="wrapper">
        <p align="right"><a href="/">Home</a></p>
        <h1>Infosec Getting Started - Blogs</h1>
        <section>
            <p>This is introduction text. This is introduction text. This is introduction text.</p>
        </section>

        <section>
            <table border="0">
                {% for blog in site.blogs %}
                    {% if blog.render %}
                        <tr>
                            <td><a href="{{ blog.target }}">{{ blog.name }}</a></td>
                            <td>{{ blog.short_description }}</td>
                            <td class="tright"><a href="https://raw.githubusercontent.com/gradiuscypher/infosec_getting_started/gh-pages/collections/{{ blog.path }}"><sub>metadata</sub></a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
