---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="/assets/css/styles.css">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="wrapper">
        <p align="right"><a href="/">Home</a></p>
        <h1>Infosec Getting Started - Challenges</h1>
        <section>
            <p>A collection of challenges related to infosec. The challenges will range in topics and difficulty.</p>
        </section>

        <section>
            <table border="0">
                {% for challenge in site.challenges %}
                    {% if challenge.render %}
                        <tr>
                            <td><a href="{{ challenge.target }}">{{ challenge.name }}</a></td>
                            <td>{{ challenge.short_description }}</td>
                            <td class="tright"><a href=""><sub>metadata</sub></a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </section>

        {% include footer.html %}
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
