---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="/assets/css/styles.css">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="wrapper">
        <h1><a href="/">Infosec Getting Started</a> - Guides</h1>
        <section>
            <p>A collection of guides for both broad and more specific infosec topics.</p>
        </section>

        <section>
            <table border="0">
                {% for guide in site.guides %}
                    {% if guide.render %}
                        <tr>
                            <td><a href="{{ guide.target }}">{{ guide.name }}</a></td>
                            <td>{{ guide.short_description }}</td>
                            <td class="tright"><a href="https://raw.githubusercontent.com/gradiuscypher/infosec_getting_started/gh-pages/collections/{{ guide.path }}"><sub>metadata</sub></a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </section>

        {% include footer.html %}
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
